.container-botones-nav{
    width: 40vw;

    button {
        @include botones();
    }

    .lista-nav {
        @include displayflex($flex-wrap: nowrap);
    }
}

.lista-nav li {
    margin: 8px;
}

.container-boton-modal {
    @include displayflex($content: flex-end);
    width: 100%;
}

.modal button {
    @include botones($color: white)
}