.container-botones-nav{
    width: 40vw;
}

.container-botones-nav button {
    @include botones();
    @include displayflex($flex-wrap: nowrap);
}

.container-botones-nav, .lista-nav {
    @include botones();
    @include displayflex($flex-wrap: nowrap);
}

.container-botones-nav p {
    @include botones();
    @include displayflex($flex-wrap: nowrap);
}

.lista-nav li {
    margin: 8px;
}

.container-boton-modal {
    @include displayflex($content: flex-end);
    width: 100%;
}

.modal button {
    @include botones($color: white)
}