.container-modal {
  @include displayflex();

  .modal {
    @include card($width: 260px, $height: 400px);

    @include displayflex(
      $direction: column,
      $content: space-around,
      $flex-wrap: nowrap
    );

    .container-boton-modal {
      @include displayflex($content: flex-end);
      width: 100%;
    }

    button {
      @include botones($color: white);
    }

    .container-img-modal,
    .img-modal {
      @include containerCard($width: 200px, $height: 190px);
    }

    .info-personaje {
      @include displayflex($direction: column);
    }

    .info-principal {
      @include displayflex($direction: column);

      p {
        margin-top: 10px;
        text-align: center;
      }

      img {
        width: 70px;
        height: 70px;
        margin-top: 15px;
      }
    }
  }

  @include m1200 {
    .modal {
      @include card($width: 355px, $height: 400px);
    }
  }
}
