@mixin displayflex ($direction: row, $content: center, $align: center, $flex-wrap: wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
    flex-wrap: $flex-wrap;
}

@mixin card ( $width: 160px, $height: 220px){
    width: $width;
    height: $height;
    padding: 15px;
    margin: 15px;
    border: 1px solid #bbbbbb6b;
    border-radius: 5px;
    color: #f5f6f9;
    font-family: "Helvetica";
    background-color: #000000ba;
}

@mixin containerCard ($width: 140px, $height: 150px){
    width: $width;
    height: $height;
    object-fit: cover; 
    object-position: top;
}

@mixin imagen-card (){
    width: 100%;
}

@mixin botones ($color: #fdd051, $font-size: 15px) {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: $color;
    font-size: $font-size;
    font-weight: 600;
}

@mixin botonHouses() {
    position: relative; 
}

@mixin containerListaCasas { 
    position: absolute;
    padding: 0;
    z-index: 9;
    padding-top: 10px;
    background-color: #000000ba;
}