@mixin displayflex ($direction: row, $content: center, $align: center, $flex-wrap: wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
    flex-wrap: $flex-wrap;
}

@mixin card (){
    width: 160px;
    height: 220px;
    padding: 15px;
    margin: 15px;
    border: 1px solid #bbbbbb6b;
    border-radius: 5px;
    color: #f5f6f9;
    font-family: "Helvetica";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000000ab;
}

@mixin containerCard (){
    width: 140px;
    height: 150px;
    object-fit: cover; 
    object-position: center;
}

@mixin imagen-card (){
    width: 100%;
}

@mixin botonesNav () {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: #fdd051;
    font-size: 15px;
    font-weight: 600;
}