body {
    margin: 0;
    box-sizing: border-box;
    background-image: url(/imgs/img_throne.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
  
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 15px;
    font-weight: 600
}

header nav{
    @include displayflex($content: space-between, $flex-wrap: nowrap);
    padding-top: 20px;
};

h1 img{
    width: 300px;
}

ul{
    list-style: none;
    @include displayflex($content: space-evenly, $flex-wrap: nowrap);
}