body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

header {
  @include displayflex($content: space-between, $flex-wrap: nowrap);
  width: 100%;
  height: 140px;
  background-color: #0000009e;
  position: fixed;

  h1 {
    flex-grow: 1;

    img {
      width: 220px;

      @include m1200 {
        width: 300px;
      }
    }
  }

  nav {
    @include displayflex(
      $direction: column,
      $content: flex-end,
      $flex-wrap: nowrap,
      $align: flex-end
    );

    @include m1200 {
      @include displayflex($content: flex-end, $flex-wrap: nowrap);
      flex-grow: 2;
    }
  }
}

main {
  padding-top: 140px;

  .form-buscador {
    margin-top: 15px;

    @include displayflex();

    @include m1200 {
      display: none;
    }

    input {
      background: #000000b8;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  @include displayflex($content: space-evenly, $flex-wrap: nowrap);
  width: 100%;
  height: 40px;
  background-color: #0000009e;
  position: absolute;
  bottom: 0;
  p {
    font-size: 14px;
    font-weight: 600;
    color: #fdd051c9;
  }
}
