/********* BREAKPOINTS *********/
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 140px;
  background-color: #0000009e;
  position: fixed;
}
header h1 {
  flex-grow: 1;
}
header h1 img {
  width: 220px;
}
@media (min-width: 1200px) {
  header h1 img {
    width: 300px;
  }
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
}
@media (min-width: 1200px) {
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 2;
  }
}

main {
  padding-top: 140px;
}
main .form-buscador {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  main .form-buscador {
    display: none;
  }
}
main .form-buscador input {
  background: #000000b8;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 80px;
  background-color: #0000009e;
  margin-top: 30px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .cards {
    padding: 30px 80px;
  }
}

.card {
  width: 160px;
  height: 220px;
  padding: 15px;
  margin: 15px;
  border: 1px solid #bbbbbb6b;
  border-radius: 5px;
  color: #f5f6f9;
  background-color: #000000ba;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container-img,
.centered-img {
  width: 140px;
  height: 150px;
  object-fit: cover;
  object-position: top;
}

#img-personaje {
  width: 100%;
}

.info-personaje {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.lista-nav {
  display: none;
}
@media (min-width: 1110px) {
  .lista-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 40vw;
  }
  .lista-nav button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: #fdd051;
    font-size: 15px;
    font-weight: 600;
  }
  .lista-nav li {
    margin: 8px;
  }
}

.boton-nav {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #fdd051;
  font-size: 24px;
  font-weight: 600;
  margin-right: 10px;
}
@media (min-width: 1110px) {
  .boton-nav {
    display: none;
  }
}

.lista-nav-mobile {
  display: none;
}
.lista-nav-mobile.mostrar-nav-mobile {
  margin-right: 20px;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.lista-nav-mobile.mostrar-nav-mobile button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #fdd051;
  font-size: 15px;
  font-weight: 600;
}
.lista-nav-mobile.mostrar-nav-mobile li {
  width: 100%;
}
.lista-nav-mobile.mostrar-nav-mobile .container-houses {
  right: 0;
}
.lista-nav-mobile .form-buscador {
  display: none;
}

.ocultar {
  display: none;
}

.container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-image: url(/imgs/img_throne.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container::-webkit-scrollbar {
  display: none;
}

.mostrar-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c7;
}

.container-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-modal .modal {
  width: 260px;
  height: 400px;
  padding: 15px;
  margin: 15px;
  border: 1px solid #bbbbbb6b;
  border-radius: 5px;
  color: #f5f6f9;
  background-color: #000000ba;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.container-modal .modal .container-boton-modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.container-modal .modal button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.container-modal .modal .container-img-modal,
.container-modal .modal .img-modal {
  width: 200px;
  height: 190px;
  object-fit: cover;
  object-position: top;
}
.container-modal .modal .info-personaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-modal .modal .info-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-modal .modal .info-principal p {
  margin-top: 10px;
  text-align: center;
}
.container-modal .modal .info-principal img {
  width: 70px;
  height: 70px;
  margin-top: 15px;
}
@media (min-width: 1200px) {
  .container-modal .modal {
    width: 355px;
    height: 400px;
    padding: 15px;
    margin: 15px;
    border: 1px solid #bbbbbb6b;
    border-radius: 5px;
    color: #f5f6f9;
    background-color: #000000ba;
  }
}

.lista-houses {
  position: relative;
}
.lista-houses:hover .container-houses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.lista-houses p {
  color: #fdd051;
}
.lista-houses .container-houses {
  width: 170px;
  height: 200px;
  overflow-y: scroll;
  display: none;
  position: absolute;
  padding: 0;
  z-index: 9;
  padding-top: 10px;
  background-color: #000000ba;
}
.lista-houses .container-houses .casa {
  text-align: start;
}

.form-buscador input {
  border: 1px solid #fdd0515e;
  border-radius: 8px;
  padding: 5px 10px;
  background: transparent;
  outline: #fdd0515e;
  color: white;
}

.form-buscador input:focus {
  border: 1px solid #fdd0515e;
  border-radius: 8px;
  padding: 5px 10px;
  background: transparent;
  outline: #fdd0515e;
  color: white;
}

.form-buscador input::placeholder {
  color: rgba(231, 230, 230, 0.767);
  margin-left: 4px;
}

.lista-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 400px;
}
.lista-footer a,
.lista-footer i {
  color: #fdd051;
}

/*# sourceMappingURL=style.css.map */
