body {
  margin: 0;
  box-sizing: border-box;
  background-image: url(/imgs/img_throne.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: inherit;
  height: auto;
  overflow: visible;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 20px;
}

h1 img {
  width: 300px;
}

ul {
  list-style: none;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 80px;
}

.card {
  width: 160px;
  height: 220px;
  padding: 15px;
  margin: 15px;
  border: 1px solid #bbbbbb6b;
  border-radius: 5px;
  color: #f5f6f9;
  font-family: "Helvetica";
  background-color: #000000ba;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container-img, .centered-img {
  width: 140px;
  height: 150px;
  object-fit: cover;
  object-position: top;
}

#img-personaje {
  width: 100%;
}

.info-personaje {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container-botones-nav {
  width: 40vw;
}

.container-botones-nav button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #fdd051;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.container-botones-nav, .lista-nav {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #fdd051;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.container-botones-nav p {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #fdd051;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.container-boton-modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.modal button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.ocultar {
  display: none;
}

.container-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 80px;
}

.modal {
  width: 355px;
  height: 400px;
  padding: 15px;
  margin: 15px;
  border: 1px solid #bbbbbb6b;
  border-radius: 5px;
  color: #f5f6f9;
  font-family: "Helvetica";
  background-color: #000000ba;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.container-img-modal, .img-modal {
  width: 200px;
  height: 190px;
  object-fit: cover;
  object-position: top;
}

.info-personaje {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-principal p {
  margin-top: 10px;
  text-align: center;
}

.info-principal img {
  width: 70px;
  height: 70px;
  margin-top: 15px;
}

#houses {
  position: relative;
}

#container-houses:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  padding: 0;
  z-index: 9;
  padding-top: 10px;
  background-color: #000000ba;
}

/*# sourceMappingURL=style.css.map */
